*{font-family: 'Open Sans', sans-serif};
html{
height: 100%;
  min-width: 100%;
}
.chat-icon{
  position: absolute;
	width: 1px;
  color: rgb(185, 176, 237);
}
.avatar{
  border-radius: 50%;
}
body{
  margin: 0;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow-x: hidden;
}

#thumbnail{
  width:  100%;
}
.header {
  width: 90%;
  margin: auto;
  top: 0;
  left: 0;
  height: 6vh;
  background-color: black;
}
.footer{
  margin: auto;
  width: 90%;
  bottom: 0;
  left: 0;
  height: 6vh;
  background-color: black;
}
.second-wrap{
  padding: 60px;
}
.textWrap {
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 90px;
  margin-right: 10px;
  text-align: center;
}
iframe{
  margin: auto;
}

#video-container {
  position: relative;
  margin-right: 90px;
  margin-left: 10px;
  height: auto;
  cursor: pointer;
}
#button{
  width: 15%;
  position: absolute;
  left: 45%;
  top: 40%;
  opacity: 0.8;
}
.wrapper {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
}

td {
  height: 10vh;
  width: 15%;
}
thead td{
  height: 5vh;
}

table {
  width: 100%;
  margin: auto;
}
.photo{
  position: relative;
}

td,th{
  font-weight: 400;
  border: 1px solid rgb(185, 176, 237);
  text-align: center;
}
@media (max-width : 768px) {
  .second-wrap{
    padding: 15px;
  }
  thead{
    display: none;
  }
  td{
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#video-container {
  margin: auto;
  margin-top: 15px;
width: 70%;}
  .textWrap {
    margin: auto;
  width: 70%;}
tbody{
margin: 10px
}
    tr {
  display: grid;
  grid-template-rows: repeat(4, 2fr);
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
    "photo name name"
    "photo status chat"
    "year status chat"
    "registration registration registration";
  
}
.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;}

.name{
  grid-area: name;
}
.photo{
  grid-area: photo;
}
.status{
  grid-area: status;
}
.registration{
  grid-area: registration;
}
.age{
  grid-area: year;
}
.chat{
  grid-area: chat;}}
.footer{
  width: 100%;
}
.header{
  width: 100%;
}
  @media (max-width : 480px) {
    .avatar{
      height: auto;
      width: 100%;
      aspect-ratio: 16/10;
      border-radius: 0%
    }
    thead{
      display: none;
    }
    td{
      height: auto;
      width: auto;
      
  }
  tbody{
    margin: 10px;
  }
  .chat-icon{
  position: unset;
  width: auto;
  }
  button{
    display: none;
  }
  tr {
    display: grid;
    grid-template-rows: repeat(3, 2fr);
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas: 
      "photo photo photo photo photo status chat"
      "photo photo photo photo photo year year"
      "name name name name name registration registration";
    
  }
  .wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
  padding: 15px;}
  
  .name{
    grid-area: name;
  }
  .photo{
    grid-area: photo;
  }
  .status{
    grid-area: status;
  }
  .registration{
    grid-area: registration;
  }
  .age{
    grid-area: year;
  }
  .chat{
    grid-area: chat;}
    table {
      width: 100%;
      }
      #video-container {
        margin: auto;
      width: 100%}
        .textWrap {
          margin: auto;
          width: auto;
        }}