html,body {
  min-width: 100%;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 5vh;
  background-color: black;
}
.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 5vh;
  background-color: black;
}
.textWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 90px;
  margin-right: 10px;
  text-align: center;
}
iframe{
  margin: auto;
}

#thumbnail{
  width: 100%;
  height: auto;
}
#video-container {
  margin-right: 90px;
  margin-left: 10px;
  height: auto;
  cursor: pointer;
 
}
.wrapper {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

td {
  height: 10vh;
  width: 15%;
}

table {
  width: 90%;
  margin: auto;
}


td,th {
  font-weight: 400;
  border: 1px solid rgb(185, 176, 237);
}
@media (max-width : 800px) {
  thead{
    display: none;
  }
  td{
    height: auto;
    width: auto;
    
}
#video-container {
  margin: auto;}
  .textWrap {
    margin: auto;}
tbody {
  display: grid;
  margin: 10px;
  grid-template-rows: repeat(4, 2fr);
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
    "photo name name"
    "photo status chat"
    "year status chat"
    "registration registration registration";
  
}
.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;}

.name{
  grid-area: name;
}
.photo{
  grid-area: photo;
}
.status{
  grid-area: status;
}
.registration{
  grid-area: registration;
}
.age{
  grid-area: year;
}
.chat{
  grid-area: chat;}}

  @media (max-width : 400px) {
    thead{
      display: none;
    }
    td{
      height: auto;
      width: auto;
      
  }
  tbody {
    display: grid;
    margin: 10px;
    grid-template-rows: repeat(3, 2fr);
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas: 
      "photo photo photo photo status status chat"
      "photo photo photo photo year year year"
      "name name name name registration registration registration";
    
  }
  .wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;}
  
  .name{
    grid-area: name;
  }
  .photo{
    grid-area: photo;
  }
  .status{
    grid-area: status;
  }
  .registration{
    grid-area: registration;
  }
  .age{
    grid-area: year;
  }
  .chat{
    grid-area: chat;}
    table {
      width: 100%;
      }}